@model List<EmployeeApp.Models.Employee>

@{
}

<h1 class="mt-2">Employees List</h1> 
<a href="Employees/Add" class="btn btn-primary float-end">Add Employee</a>
<table class="table table-striped mt-5">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>City</th>
            <th>State</th>
            <th>Salary</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var employee in Model)
        {
        <tr>
            <td>@employee.Id</td>
            <td>@employee.Name</td>
            <td>@employee.City</td>
            <td>@employee.State</td>
            <td>@employee.Salary</td>
            <td>
                <a href="Employees/View/@employee.Id" class="btn btn-info">View</a>
            </td>
        </tr>
        }
    </tbody>
</table>